<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e5c05226-528f-47fe-bb8f-806d7b6312d9" Alias="content" Level="1">
  <Info>
    <Name>Content</Name>
    <Icon>icon-browser-window color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="befd191b-e75a-40f6-ae6a-20b85710807a">pageContent</Composition>
      <Composition Key="6fb11a19-8593-40a1-bd43-088d5787a13a">pageSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="27287715-e1c1-4d89-810c-82a8e8605ce6">Content</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e5c05226-528f-47fe-bb8f-806d7b6312d9" SortOrder="0">content</ContentType>
    <ContentType Key="5ea6fedd-e9c2-4f30-821d-9c9e30d401d7" SortOrder="1">news</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>