<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f2c5b80c-b5a5-4137-a626-359b4b83b3a7" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="befd191b-e75a-40f6-ae6a-20b85710807a">pageContent</Composition>
      <Composition Key="6fb11a19-8593-40a1-bd43-088d5787a13a">pageSettings</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="36fd0d47-cbf5-4925-857b-c5debc706ae2">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e5c05226-528f-47fe-bb8f-806d7b6312d9" SortOrder="0">content</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>