<?xml version="1.0" encoding="utf-8"?>
<Media Key="b8a954a4-9578-4ef7-9cbf-10b906633862" Alias="2024" Level="2">
  <Info>
    <Parent Key="e1dd12a0-a092-45fc-948d-1b3238372fd5">News</Parent>
    <Path>/News/</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-05-18T22:11:48</CreateDate>
    <NodeName Default="2024" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>