<?xml version="1.0" encoding="utf-8"?>
<Media Key="ef07380a-6ea4-4e83-af59-c2bd6fd4cdce" Alias="GF LANDING PAGE TREES BANNER 1" Level="2">
  <Info>
    <Parent Key="552d911d-7634-49bc-9688-a6744df22964">Hero Banner</Parent>
    <Path>/HeroBanner/GFLANDINGPAGETREESBANNER1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-05T14:12:19</CreateDate>
    <NodeName Default="GF LANDING PAGE TREES BANNER 1" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bq2ap13e/gf-landing-page-trees-banner_1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>