<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ae49062-1fbd-4584-a642-559f926a99b5" Alias="Mvp" Level="2">
  <Info>
    <Parent Key="123ad191-cf95-47fa-96e4-eb5796707f39">Products</Parent>
    <Path>/Products/Mvp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-03T19:50:10</CreateDate>
    <NodeName Default="Mvp" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/msiojcv3/mvp.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>