<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1dd12a0-a092-45fc-948d-1b3238372fd5" Alias="News" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/News</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-05-18T22:11:36</CreateDate>
    <NodeName Default="News" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>