<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a97279d-e277-4ebc-8fc7-5668fe081258" Alias="One Mil Trees Header 9351D06f Fadb 48C2 92D8 02D21f543171" Level="3">
  <Info>
    <Parent Key="b8a954a4-9578-4ef7-9cbf-10b906633862">2024</Parent>
    <Path>/News//OneMilTreesHeader9351D06fFadb48C292D802D21f543171</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-03T19:46:59</CreateDate>
    <NodeName Default="One Mil Trees Header 9351D06f Fadb 48C2 92D8 02D21f543171" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tmtjpctx/one-mil-trees-header_9351d06f-fadb-48c2-92d8-02d21f543171.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>