<?xml version="1.0" encoding="utf-8"?>
<Media Key="123ad191-cf95-47fa-96e4-eb5796707f39" Alias="Products" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Products</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-06-03T19:39:54</CreateDate>
    <NodeName Default="Products" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>