<?xml version="1.0" encoding="utf-8"?>
<Media Key="dc634417-eede-4e4d-b65b-72cee83598e9" Alias="Toomas Tartes Yizrl9n Eda Unsplash" Level="2">
  <Info>
    <Parent Key="552d911d-7634-49bc-9688-a6744df22964">Hero Banner</Parent>
    <Path>/HeroBanner/ToomasTartesYizrl9nEdaUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-16T20:01:44</CreateDate>
    <NodeName Default="Toomas Tartes Yizrl9n Eda Unsplash" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cfcghxg4/toomas-tartes-yizrl9n_eda-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>