<?xml version="1.0" encoding="utf-8"?>
<Media Key="92491795-3938-4b96-b674-a340892ebe68" Alias="Umbraco Side" Level="2">
  <Info>
    <Parent Key="123ad191-cf95-47fa-96e4-eb5796707f39">Products</Parent>
    <Path>/Products/UmbracoSide</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-03T19:40:50</CreateDate>
    <NodeName Default="Umbraco Side" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/smlftery/umbraco-side.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>