<?xml version="1.0" encoding="utf-8"?>
<Media Key="b3585f60-8d8e-4d12-8974-db0bdcc11e52" Alias="Video" Level="2">
  <Info>
    <Parent Key="552d911d-7634-49bc-9688-a6744df22964">Hero Banner</Parent>
    <Path>/HeroBanner/Video</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2024-05-16T19:59:58</CreateDate>
    <NodeName Default="Video" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jbpfrm2o/video.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>