<?xml version="1.0" encoding="utf-8"?>
<Media Key="3d44c03f-dc8f-41a6-83f3-f1ffb3bf4fc6" Alias="Ww Header" Level="3">
  <Info>
    <Parent Key="b8a954a4-9578-4ef7-9cbf-10b906633862">2024</Parent>
    <Path>/News//WwHeader</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-03T19:47:42</CreateDate>
    <NodeName Default="Ww Header" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hhaeipmp/ww-header.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>