@inherits UmbracoViewPage

<!doctype html>
<html lang="@Model.GetCultureFromDomains()" class="no-js">

<head>
    <meta-fields></meta-fields>

    <link rel="preconnect" href="https://rsms.me/">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">

    <environment include="Development">
        <script type="module" defer src="~/@@vite/client"></script>
        <script type="module" defer src="~/src/main.ts"></script>
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" asp-href-include="~/app/assets/main.*.css" />
    </environment>

    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/sw.js')
                    .then(registration => {
                        console.log('Service Worker registered with scope:', registration.scope);
                    })
                    .catch(error => {
                        console.error('Service Worker registration failed:', error);
                    });
            });
        } else {
            console.log('Service Workers are not supported in this browser.');
        }
    </script>
</head>

<body data-template="@Model.ContentType.Alias" class="bg-bianca-50 @(Context.Request.Query["debug"] == "true" ? "is-debug" : "")">

    @await Html.PartialAsync("GlobalHeader")

    <main>
        @RenderBody()
    </main>

    @await Html.PartialAsync("GlobalFooter")

    <environment exclude="Development">
        <script type="module" defer asp-src-include="~/app/assets/main.*.js"></script>
    </environment>
</body>

</html>