@inherits UmbracoViewPage<Home>
@{
    Layout = "_Layout.cshtml";
}

@await Html.GetBlockGridHtmlAsync(Model.GridContent)

<div class="bg-stone-50">
    <div class="max-w-[1600px] px-6 py-12 relative z-20 mx-auto w-full">
        <h2 class="font-display mb-12 text-center text-5xl font-bold">New Arrivals &rarr;</h2>

        <div class="gap-6 grid grid-cols-4">
            <a class="bg-white p-4 rounded group hover:bg-mantis-600 hover:drop-shadow-lg transition" href="#">
                <img src="" class="mb-6 rounded" width="400" height="400" />
                <div>
                    <p class="lead text-xl font-bold group-hover:text-white transition">Men's</p>
                    <span class="text-neutral-600 hover:text-neutral-950 group-hover:text-white transition">Explore &rarr;</span>
                </div>
            </a>
            <a class="bg-white p-4 rounded group hover:bg-mantis-600 hover:drop-shadow-lg transition" href="#">
                <img src="" class="mb-6 rounded" width="400" height="400" />
                <div>
                    <p class="lead text-xl font-bold group-hover:text-white transition">Women's</p>
                    <span class="text-neutral-600 hover:text-neutral-950 group-hover:text-white transition">Explore &rarr;</span>
                </div>
            </a>
            <a class="bg-white p-4 rounded group hover:bg-mantis-600 hover:drop-shadow-lg transition" href="#">
                <img src="" class="mb-6 rounded" width="400" height="400" />
                <div>
                    <p class="lead text-xl font-bold group-hover:text-white transition">Shoes</p>
                    <span class="text-neutral-600 hover:text-neutral-950 group-hover:text-white transition">Explore &rarr;</span>
                </div>
            </a>
            <a class="bg-white p-4 rounded group hover:bg-mantis-600 hover:drop-shadow-lg transition" href="#">
                <img src="" class="mb-6 rounded" width="400" height="400" />
                <div>
                    <p class="lead text-xl font-bold group-hover:text-white transition">Accessories</p>
                    <span class="text-neutral-600 hover:text-neutral-950 group-hover:text-white transition">Explore &rarr;</span>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="bg-white">
    <div class="max-w-[1600px] px-6 py-12 relative z-20 mx-auto w-full">
        <h2 class="font-display mb-12 text-5xl font-bold">Latest News &rarr;</h2>

        <div class="gap-6 grid grid-cols-3">
            <div class="bg-stone-50 rounded">
                <img src="" class="mb-6 rounded" width="600" height="300" />
                <div class="p-4">
                    <p class="lead text-xl font-bold">Men's</p>
                    <a class="text-neutral-600 hover:text-neutral-950" href="#">Explore &rarr;</a>
                </div>
            </div>
            <div class="bg-stone-50 rounded">
                <img src="" class="mb-6 rounded" width="600" height="300" />
                <div class="p-4">
                    <p class="lead text-xl font-bold">Women's</p>
                    <a class="text-neutral-600 hover:text-neutral-950" href="#">Explore &rarr;</a>
                </div>
            </div>
            <div class="bg-stone-50 rounded">
                <img src="" class="mb-6 rounded" width="600" height="300" />
                <div class="p-4">
                    <p class="lead text-xl font-bold">Shoes</p>
                    <a class="text-neutral-600 hover:text-neutral-950" href="#">Explore &rarr;</a>
                </div>
            </div>
        </div>
    </div>
</div>
