<?xml version="1.0" encoding="utf-8"?>
<Content Key="2b9ed3d7-ec51-4568-a96f-48101d5e9a53" Alias="About Us" Level="2">
  <Info>
    <Parent Key="4cf35d2c-6635-40d5-9e53-c92645d7e48d">Home</Parent>
    <Path>/Home/AboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>content</ContentType>
    <CreateDate>2024-05-13T09:56:03</CreateDate>
    <NodeName Default="About Us" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="27287715-e1c1-4d89-810c-82a8e8605ce6">Content</Template>
  </Info>
  <Properties>
    <gridContent>
      <Value><![CDATA[]]></Value>
    </gridContent>
  </Properties>
</Content>