<?xml version="1.0" encoding="utf-8"?>
<Content Key="efd4debf-7432-472b-96d1-65cd2f4af126" Alias="Below The Surface: Our Seaweed Collection (4)" Level="3">
  <Info>
    <Parent Key="a0ca4d07-d2d6-4648-b4c9-3a9bc0949317">News</Parent>
    <Path>/Home/News/BelowTheSurfaceOurSeaweedCollection4</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2024-06-06T10:31:05</CreateDate>
    <NodeName Default="Below The Surface: Our Seaweed Collection (4)" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cf9bd425-e422-44af-86dd-14e09dd1346b">NewsItem</Template>
  </Info>
  <Properties>
    <excerpt>
      <Value><![CDATA[Introducing the Seaweed Collection. We snorkelled up, dunked our heads under, took a look around and drafted out a few pieces with the land and sea in mind.]]></Value>
    </excerpt>
    <gridContent>
      <Value><![CDATA[]]></Value>
    </gridContent>
    <image>
      <Value><![CDATA[[
  {
    "key": "9e6ca2f4-eefe-468d-9a09-06b1e0e7b8a4",
    "mediaKey": "2976b01b-0c85-4dfd-b3c7-5e2c5933e8f2"
  }
]]]></Value>
    </image>
    <publishedDate>
      <Value><![CDATA[2024-03-30T12:00:00]]></Value>
    </publishedDate>
  </Properties>
</Content>