<?xml version="1.0" encoding="utf-8"?>
<Content Key="4cf35d2c-6635-40d5-9e53-c92645d7e48d" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-05-09T11:30:11</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="36fd0d47-cbf5-4925-857b-c5debc706ae2">Home</Template>
  </Info>
  <Properties>
    <gridContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/581896c6287c47de881e316606e6ef46",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "96dc3e1e-e18a-4deb-9e90-203d3c91a8bb",
      "udi": "umb://element/581896c6287c47de881e316606e6ef46",
      "title": "Summer 2024 collection",
      "subtitle": "Shop the looks now. Trees planted with every order!",
      "backgroundImage": [
        {
          "key": "a5a10150-0741-4c99-95d9-d2ee21923ffe",
          "mediaKey": "dc634417-eede-4e4d-b65b-72cee83598e9"
        }
      ],
      "backgroundVideo": [
        {
          "key": "270a59fe-1be3-4e96-8d20-dfd9d8833223",
          "mediaKey": "b3585f60-8d8e-4d12-8974-db0bdcc11e52"
        }
      ],
      "callToAction": [
        {
          "name": "Start shopping",
          "udi": "umb://document/c4aec700138b4dbbb3a3b62b53b29c64"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </gridContent>
  </Properties>
</Content>