<?xml version="1.0" encoding="utf-8"?>
<Content Key="4cf35d2c-6635-40d5-9e53-c92645d7e48d" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-05-09T11:30:11</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="36fd0d47-cbf5-4925-857b-c5debc706ae2">Home</Template>
  </Info>
  <Properties />
</Content>