<?xml version="1.0" encoding="utf-8"?>
<Content Key="4cf35d2c-6635-40d5-9e53-c92645d7e48d" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-05-09T11:30:11</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="36fd0d47-cbf5-4925-857b-c5debc706ae2">Home</Template>
  </Info>
  <Properties>
    <gridContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/581896c6287c47de881e316606e6ef46",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/714e926f298b410a8bfbd5e6b82aafdc",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/4e6e27c055c64aa4b11171857c0d1945",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/93d9c48cc15041b49013c07c9366bdbd",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "96dc3e1e-e18a-4deb-9e90-203d3c91a8bb",
      "udi": "umb://element/581896c6287c47de881e316606e6ef46",
      "title": "Summer 2024 collection",
      "subtitle": "Shop the looks now. Trees planted with every order!",
      "backgroundImage": [
        {
          "key": "a5a10150-0741-4c99-95d9-d2ee21923ffe",
          "mediaKey": "dc634417-eede-4e4d-b65b-72cee83598e9"
        }
      ],
      "backgroundVideo": [
        {
          "key": "270a59fe-1be3-4e96-8d20-dfd9d8833223",
          "mediaKey": "b3585f60-8d8e-4d12-8974-db0bdcc11e52"
        }
      ],
      "callToAction": [
        {
          "name": "Start shopping",
          "udi": "umb://document/c4aec700138b4dbbb3a3b62b53b29c64"
        }
      ]
    },
    {
      "contentTypeKey": "753010ea-e76c-4df1-a042-1039059532a3",
      "udi": "umb://element/714e926f298b410a8bfbd5e6b82aafdc",
      "callToActionItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/75546275c0434535ac3bcc9824705005"
            },
            {
              "contentUdi": "umb://element/c9d64c8db4774d598d7f732dbb3677ca"
            },
            {
              "contentUdi": "umb://element/c2202b2d26d0497382796f510c9273e9"
            },
            {
              "contentUdi": "umb://element/6ab9f5c0899045dfac1a570129300ce8"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "47d73d7c-565e-481f-aaf4-e13e76acfcc4",
            "udi": "umb://element/75546275c0434535ac3bcc9824705005",
            "title": "Men's",
            "subtitle": "",
            "image": [
              {
                "key": "75a9f2b8-fea3-4e31-9990-e550b214665d",
                "mediaKey": "0e55f4df-a818-49b6-9ad5-28da60575f48"
              }
            ],
            "callToActionLink": [
              {
                "name": "Explore",
                "udi": "umb://document/4cf35d2c663540d59e53c92645d7e48d"
              }
            ]
          },
          {
            "contentTypeKey": "47d73d7c-565e-481f-aaf4-e13e76acfcc4",
            "udi": "umb://element/c9d64c8db4774d598d7f732dbb3677ca",
            "title": "Women's",
            "subtitle": "",
            "image": [
              {
                "key": "ba412df0-9925-4f85-b26e-57b6d082a1ec",
                "mediaKey": "bbca5666-f834-481a-aed3-c90bf793799c"
              }
            ],
            "callToActionLink": [
              {
                "name": "Explore",
                "udi": "umb://document/4cf35d2c663540d59e53c92645d7e48d"
              }
            ]
          },
          {
            "contentTypeKey": "47d73d7c-565e-481f-aaf4-e13e76acfcc4",
            "udi": "umb://element/c2202b2d26d0497382796f510c9273e9",
            "title": "Awards",
            "subtitle": "",
            "image": [
              {
                "key": "75866dd4-4d81-4965-88c2-342624563f79",
                "mediaKey": "8ae49062-1fbd-4584-a642-559f926a99b5"
              }
            ],
            "callToActionLink": [
              {
                "name": "Explore",
                "udi": "umb://document/4cf35d2c663540d59e53c92645d7e48d"
              }
            ]
          },
          {
            "contentTypeKey": "47d73d7c-565e-481f-aaf4-e13e76acfcc4",
            "udi": "umb://element/6ab9f5c0899045dfac1a570129300ce8",
            "title": "Accessories",
            "subtitle": "",
            "image": [
              {
                "key": "6920bd41-4f1e-4b79-8056-4b6e0d1d25aa",
                "mediaKey": "92491795-3938-4b96-b674-a340892ebe68"
              }
            ],
            "callToActionLink": [
              {
                "name": "Explore",
                "udi": "umb://document/4cf35d2c663540d59e53c92645d7e48d"
              }
            ]
          }
        ],
        "settingsData": []
      },
      "title": "New Arrivals"
    },
    {
      "contentTypeKey": "033ff4a3-2621-4767-9b90-795349cfa53b",
      "udi": "umb://element/93d9c48cc15041b49013c07c9366bdbd",
      "numberOfArticlesToShow": "3",
      "title": "Latest News"
    },
    {
      "contentTypeKey": "dacfab6e-c174-489d-81ff-6607a7f57a4a",
      "udi": "umb://element/4e6e27c055c64aa4b11171857c0d1945",
      "title": "Plant & Protect",
      "content": "<p class=\"lead\"><strong class=\"text-white\">To date, we’ve planted more than 36,940 trees and supported the prevention of 5,325.75 tCO<sub>2</sub>e from being emitted through 42 verified carbon avoidance projects</strong></p>",
      "callToAction": [
        {
          "name": "Read more",
          "target": "_blank",
          "url": "https://ecologi.com/umbraco"
        }
      ],
      "backgroundImage": [
        {
          "key": "6fdadd21-936a-440e-b539-ea84ae58fbc5",
          "mediaKey": "ef07380a-6ea4-4e83-af59-c2bd6fd4cdce"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </gridContent>
  </Properties>
</Content>