<?xml version="1.0" encoding="utf-8"?>
<Content Key="c4aec700-138b-4dbb-b3a3-b62b53b29c64" Alias="New In" Level="2">
  <Info>
    <Parent Key="4cf35d2c-6635-40d5-9e53-c92645d7e48d">Home</Parent>
    <Path>/Home/NewIn</Path>
    <Trashed>false</Trashed>
    <ContentType>content</ContentType>
    <CreateDate>2024-05-13T10:23:14</CreateDate>
    <NodeName Default="New In" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="27287715-e1c1-4d89-810c-82a8e8605ce6">Content</Template>
  </Info>
  <Properties />
</Content>