<?xml version="1.0" encoding="utf-8"?>
<Content Key="a0ca4d07-d2d6-4648-b4c9-3a9bc0949317" Alias="News" Level="2">
  <Info>
    <Parent Key="4cf35d2c-6635-40d5-9e53-c92645d7e48d">Home</Parent>
    <Path>/Home/News</Path>
    <Trashed>false</Trashed>
    <ContentType>news</ContentType>
    <CreateDate>2024-05-18T21:29:48</CreateDate>
    <NodeName Default="News" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="eff98fab-2977-4611-88cc-e91808cc4f0e">News</Template>
  </Info>
  <Properties>
    <gridContent>
      <Value><![CDATA[]]></Value>
    </gridContent>
  </Properties>
</Content>