<?xml version="1.0" encoding="utf-8"?>
<Content Key="479ce3fb-e28f-47fd-9549-041ef29d4a23" Alias="One Million Trees Planted (8)" Level="3">
  <Info>
    <Parent Key="a0ca4d07-d2d6-4648-b4c9-3a9bc0949317">News</Parent>
    <Path>/Home/News/OneMillionTreesPlanted8</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2024-06-06T10:31:14</CreateDate>
    <NodeName Default="One Million Trees Planted (8)" />
    <SortOrder>25</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cf9bd425-e422-44af-86dd-14e09dd1346b">NewsItem</Template>
  </Info>
  <Properties>
    <excerpt>
      <Value><![CDATA[Since the beginning, we’ve planted a tree with every order. It’s at the core of what we do, what we stand for and is our way of helping protect the planet.]]></Value>
    </excerpt>
    <gridContent>
      <Value><![CDATA[]]></Value>
    </gridContent>
    <image>
      <Value><![CDATA[[
  {
    "key": "117d1a51-208b-4431-b8b7-d5eaf58e4de2",
    "mediaKey": "8a97279d-e277-4ebc-8fc7-5668fe081258"
  }
]]]></Value>
    </image>
    <publishedDate>
      <Value><![CDATA[2024-03-23T12:00:00]]></Value>
    </publishedDate>
  </Properties>
</Content>