<?xml version="1.0" encoding="utf-8"?>
<Content Key="778817b4-0cc3-4d87-843b-bb36c476af18" Alias="Waymarked Wonderings: Hiking Essentials Checklist (1)" Level="3">
  <Info>
    <Parent Key="a0ca4d07-d2d6-4648-b4c9-3a9bc0949317">News</Parent>
    <Path>/Home/News/WaymarkedWonderingsHikingEssentialsChecklist1</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2024-06-06T10:30:07</CreateDate>
    <NodeName Default="Waymarked Wonderings: Hiking Essentials Checklist (1)" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cf9bd425-e422-44af-86dd-14e09dd1346b">NewsItem</Template>
  </Info>
  <Properties>
    <excerpt>
      <Value><![CDATA[Expect tips and tricks from Passenger crew members, trail ramblings from fellow roamers, and a rough hiking checklist to keep handy on the footpaths.]]></Value>
    </excerpt>
    <gridContent>
      <Value><![CDATA[]]></Value>
    </gridContent>
    <image>
      <Value><![CDATA[[
  {
    "key": "7705236f-6798-429d-8dc3-6bc3f2804419",
    "mediaKey": "3d44c03f-dc8f-41a6-83f3-f1ffb3bf4fc6"
  }
]]]></Value>
    </image>
    <publishedDate>
      <Value><![CDATA[2024-03-21T12:00:00]]></Value>
    </publishedDate>
  </Properties>
</Content>